html, body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: max-content;  /* https://stackoverflow.com/questions/6464592/how-to-align-entire-html-body-to-the-center and https://developer.mozilla.org/en-US/docs/Web/CSS/max-width to center the content*/
  margin: auto;
  
}

header {
  background-color: gray;
  color: #FAFAFA;
  padding: 50px 50px 5px 50px;
  text-align: center;
}

#inputDiv {
  padding-left: 10px;
}

#outputDiv {
  padding-left: 10px;
  margin-top: 40px;
}

table, td, th {
  border-collapse: collapse;
  border: 2px solid black;
  padding: 10px;
}

th {
  background-color: #b1b2b0;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

tfoot {
  height: 40px;
}

.blankRow {
  background-color: lightgrey;
}

#submitEmployeeButton {
  float: right;
  margin-top: 10px;
  padding: 0 10px 0 10px;

}

.monthlyOverBudget {
  background-color: red;
}